<?xml version="1.0"?>
<config>
    <modules>
        <buto_widget>
            <version>1.0.0.0.0</version>
        </buto_widget>
    </modules>
    <global>
        <models>
            <buto_widget>
                <class>buto_widget_Model</class>
            </buto_widget>
        </models>
        <blocks>
             <buto_widget>
                <class>buto_widget_Block</class>
             </buto_widget>
        </blocks>
        <helpers>
            <buto_widget>
                <class>buto_widget_Helper</class>
            </buto_widget>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <buto_widget before="Mage_Adminhtml">Buto_Widget_Adminhtml</buto_widget>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <buto_options>
                                            <title>Buto - All</title>
                                        </buto_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>